<div class="button-grid">
  {% include 'components:button' %}
  {% include 'components:button' %}
  {% include 'components:button' %}
  {% include 'components:button' %}
  {% include 'components:button' %}
  {% include 'components:button' %}
  {% include 'components:button' %}
  {% include 'components:button' %}
</div>
