<div class="border p-8">
  <div>
    <img src="https://fastly.picsum.photos/id/60/400/200.jpg?hmac=HgRuPHdPqDk3eItFy2ySW9k47WexberGpvk3H_JmLdE" width="400" height="200" />
  </div>
  <h2 class="color-red-600 text-2xl">Card title</h2>
  <p>Some text...<br /> Some text...<br /> Some text...<br /> Some text...<br /> Some text...<br /> Some text...<br /></p>
</div>
